.dashboard {
    padding: 40px 80px;
  
    background: var(--bg-primary);
  
    min-height: 100vh;
  }
  
  /* HERO */
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 42px;
    font-weight: 800;
  
    color: var(--text-primary);
  }
  
  .hero p {
    margin-top: 10px;
  
    color: var(--text-secondary);
  
    font-size: 18px;
  }
  
  .create-btn {
    border: none;
  
    background: #4f46e5;
  
    color: white;
  
    padding: 10px 15px;
  
    border-radius: 30px;
  
    cursor: pointer;
  
    font-weight: 600;
  
    transition: .3s;
    text-decoration: none;
  }
  
  .create-btn:hover {
    background: #4338ca;
  }
  
  /* STATS */
  
  .stats-grid {
    display: grid;
  
    grid-template-columns:
      repeat(3, 1fr);
  
    gap: 24px;
  
    margin-bottom: 40px;
  }
  
  .stat-card {
    background: linear-gradient(
      135deg,
      #4f46e5,
      #8b5cf6
    );
    padding: 28px;
  
    border-radius: 24px;
  
    box-shadow:
      0 10px 25px rgba(0,0,0,.05);
  }
  
  .stat-card h2 {
    font-size: 36px;
  
    
    color: white;
  }
  
  .stat-card p {
    margin-top: 8px;

    color: rgba(255,255,255,.8);
  }
  
  /* SEARCH */
  
  .search-section {
    margin-bottom: 40px;
  }
  
  .search-section input {
    width: 100%;
  
    padding: 16px 20px;
  
    border-radius: 16px;
  
    border: 1px solid #e2e8f0;
  
    background: var(--bg-card);;
  
    font-size: 15px;
  }
  
  .search-section input:focus {
    outline: none;
  
    border-color: #4f46e5;
  }
  
  /* BLOGS */
  
  .section-title {
    margin-bottom: 20px;
  }
  
  .section-title h2 {
    color: var(--text-primary);
    margin-left: 6px;
    font-size: 28px;
  }
  
  .blog-grid {
    display: grid;
  
    grid-template-columns:
      repeat(auto-fill, minmax(350px, 1fr));
  
    gap: 24px;
  }

  .blogs-switch{
    width: 186px;
    height: 35px;
    padding: 4px;
    border-radius: 24px;
    background: var(--bg-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eef2f7;
    margin-bottom: 16px;
  }

  .blogs-switch button{
    padding: 2px;
    width: 86px;
    height: 22px;
    border-radius: 26px;
    color: var(--text-secondary);
    background: none;
    border: none;
  }
  .blogs-switch button.active {
    background-color: #4f46e5;
    color: white;
  }